################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CcbDb/CcbDb.dbmdl
/CcbDb/CcbDb.jfm